<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" />
      <label for="fullName">Full Name:</label>
      <input type="text" name="fullName" id="fullName" />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
      <label for="confirmPass">Confirm Password:</label>
      <input type="password" name="confirmPass" id="confirmPass" />
      <label for="secret">Admin Secret:</label>
      <input type="text" name="secret" id="secret" />
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
